---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Companies/query?filter=((companyType%20in%20(%27Customer%27,%27Vendor%27))%20OR%20(companyType%20IS%20NULL))%20AND%20(companyId%20eq%20%278c61f615-2424-4bbe-90c8-8e1336b8449f%27)
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"companyId":"8c61f615-2424-4bbe-90c8-8e1336b8449f","companyName":"mail.notion.so","companyType":"Customer","companyStatus":"Active","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","isActive":true,"primaryContactId":"249013e5-3aef-40f7-a99e-009dd64aadef","created":"2022-01-13T00:27:33.55","createdUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modified":"2022-01-13T00:27:33.55","modifiedUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modifiedUserName":"Stephen
        Kim","domainName":"mail.notion.so"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:22 GMT
recorded_with: VCR 6.0.0
