---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Companies/query?filter=((companyType%20in%20(%27Customer%27,%27Vendor%27,%27Group%27,%27Company%27))%20OR%20(companyType%20IS%20NULL))%20AND%20(companyId%20eq%20%277997eac2-adb2-4c02-89e7-689728313ce2%27)
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '160'
    body:
      encoding: UTF-8
      string: '{"records":[{"companyId":"7997eac2-adb2-4c02-89e7-689728313ce2","companyName":"Almighty
        Almonds","erpKey":"1D2E38A9-8458-4CE3-808F-03E31EBD31FC","companyType":"Customer","parentCompanyId":"c529274a-8102-41dc-9cb6-77eb8e39987f","enterpriseId":"c529274a-8102-41dc-9cb6-77eb8e39987f","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","isActive":true,"defaultCurrencyCode":"USD","companyLogoUrl":"https://app.dev.lockstep.io/image-assets/https://www.almightyalmonds.com/logo.png","primaryContactId":"3c5d6959-4864-4864-bbf7-4729ccbff87e","address1":"113
        Cherry Street","address2":"","address3":"","city":"Seattle","stateRegion":"WA","postalCode":"98104-2205","country":"US","phoneNumber":"1-800-444-3333","faxNumber":"1-800-444-4444","created":"2022-08-25T06:40:19.48","createdUserId":"95845776-6e85-45a9-9612-39d6ee14813b","modified":"2022-08-25T06:40:19.59","modifiedUserId":"95845776-6e85-45a9-9612-39d6ee14813b","modifiedUserName":"Ashish","taxId":"111-22-3333","dunsNumber":"550076065","apEmailAddress":"DemoTestEmailAP@lockstep.io","arEmailAddress":"DemoTestEmailAR@lockstep.io","appEnrollmentId":"803cb91a-38f7-46ab-8f0d-7dfdb4b28f91","emailAddress":"DemoTestEmail@lockstep.io","viewBoxSettings":{}}],"totalCount":1,"pageSize":250}'
  recorded_at: Mon, 12 Dec 2022 13:04:56 GMT
recorded_with: VCR 6.1.0
