---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"x@y.com","companyId":"3cc87b01-11ff-4ca3-b97f-50a0b233eae5"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '[{"contactId":"216b69fc-dc6e-4745-b5c5-7fb36617f81f","companyId":"3cc87b01-11ff-4ca3-b97f-50a0b233eae5","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"x@y.com","isActive":true,"created":"2022-02-08T06:44:20.1752807Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:20.1752807Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}]'
  recorded_at: Tue, 08 Feb 2022 06:44:20 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%27216b69fc-dc6e-4745-b5c5-7fb36617f81f%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"216b69fc-dc6e-4745-b5c5-7fb36617f81f","companyId":"3cc87b01-11ff-4ca3-b97f-50a0b233eae5","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"x@y.com","isActive":true,"created":"2022-02-08T06:44:20.18","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:20.18","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:21 GMT
recorded_with: VCR 6.0.0
