---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/feature-flags/
    body:
      encoding: UTF-8
      string: '{"names":["Inbox.GlobalSearch1"]}'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '336'
    body:
      encoding: ASCII-8BIT
      string: '{"values":{"Inbox.GlobalSearch1":false}}'
  recorded_at: Mon, 05 Dec 2022 08:55:10 GMT
recorded_with: VCR 6.1.0
