---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Attachments/query?filter=attachmentType%20eq%20%27W-9%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '7'
    body:
      encoding: UTF-8
      string: '{"records":[{"attachmentId":"16ebf5b8-c7a4-44f6-a437-7d9661a9cd66","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","tableKey":"Company","objectKey":"66dfb6da-6618-4a7f-8b97-20e924db86fa","fileName":"1647911271461.jpeg","fileExt":".jpeg","isArchived":false,"created":"2022-07-21T02:33:26.48","createdUserId":"6d4777a8-8b3f-44a9-a624-353c7869e11a","attachmentType":"W-9"},{"attachmentId":"4127f695-4e6e-4788-bf3a-0c0263771793","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","tableKey":"Company","objectKey":"66dfb6da-6618-4a7f-8b97-20e924db86fa","fileName":"1647911271461.jpeg","fileExt":".jpeg","isArchived":false,"created":"2022-07-21T08:25:24.83","createdUserId":"6d4777a8-8b3f-44a9-a624-353c7869e11a","attachmentType":"W-9"},{"attachmentId":"7b738c9a-e67b-4c13-94fb-0b0b614c20d3","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","tableKey":"Company","objectKey":"66dfb6da-6618-4a7f-8b97-20e924db86fa","fileName":"download.jpeg","fileExt":".jpeg","isArchived":false,"created":"2022-07-21T08:30:45.13","createdUserId":"6d4777a8-8b3f-44a9-a624-353c7869e11a","attachmentType":"W-9"},{"attachmentId":"0132ada3-d01f-48c2-b3e9-a31ff2bb0de1","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","tableKey":"Company","objectKey":"66dfb6da-6618-4a7f-8b97-20e924db86fa","fileName":"1647911271461.jpeg","fileExt":".jpeg","isArchived":false,"created":"2022-07-22T07:28:24.32","createdUserId":"6d4777a8-8b3f-44a9-a624-353c7869e11a","attachmentType":"W-9"}],"totalCount":4,"pageSize":250}'
  recorded_at: Thu, 27 Apr 2023 12:53:59 GMT
recorded_with: VCR 6.1.0
