---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Attachments/query?pageSize=2
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '1842'
    body:
      encoding: UTF-8
      string: '{"records":[{"attachmentId":"16ebf5b8-c7a4-44f6-a437-7d9661a9cd66","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","tableKey":"Company","objectKey":"66dfb6da-6618-4a7f-8b97-20e924db86fa","fileName":"1647911271461.jpeg","fileExt":".jpeg","isArchived":false,"created":"2022-07-21T02:33:26.48","createdUserId":"6d4777a8-8b3f-44a9-a624-353c7869e11a","attachmentType":"W-9"},{"attachmentId":"4127f695-4e6e-4788-bf3a-0c0263771793","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","tableKey":"Company","objectKey":"66dfb6da-6618-4a7f-8b97-20e924db86fa","fileName":"1647911271461.jpeg","fileExt":".jpeg","isArchived":false,"created":"2022-07-21T08:25:24.83","createdUserId":"6d4777a8-8b3f-44a9-a624-353c7869e11a","attachmentType":"W-9"}],"totalCount":5,"pageSize":2}'
  recorded_at: Thu, 27 Apr 2023 12:53:58 GMT
recorded_with: VCR 6.1.0
