---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"a@b.com"},{"emailAddress":"$$$$a","isActive":2}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Serverduration:
      - '122'
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-e6497ecbe9681ac8c33e7c127a3e73e0-efd4a732f56d318d-00","errors":{"$[1].isActive":["The
        JSON value could not be converted to System.Boolean. Path: $[1].isActive |
        LineNumber: 0 | BytePositionInLine: 64."]}}'
  recorded_at: Tue, 10 May 2022 20:52:38 GMT
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"a@b.com"},{"emailAddress":"$$$$a","isActive":2}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Serverduration:
      - '160'
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-3ec494308f7908c175d1f5f512b7654a-66efa6033c016709-00","errors":{"$[1].isActive":["The
        JSON value could not be converted to System.Boolean. Path: $[1].isActive |
        LineNumber: 0 | BytePositionInLine: 64."]}}'
  recorded_at: Tue, 10 May 2022 20:52:57 GMT
recorded_with: VCR 6.0.0
