---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"a@b.com"},{"emailAddress":"a2@b.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '[{"contactId":"fe2496e6-e11a-422b-8b09-c7b7f2db237e","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a@b.com","isActive":true,"created":"2022-02-08T06:44:27.7240971Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:27.7240971Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"},{"contactId":"18b13015-72fd-4fde-93ba-4adfee685ad4","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a2@b.com","isActive":true,"created":"2022-02-08T06:44:27.7240975Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:27.7240975Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}]'
  recorded_at: Tue, 08 Feb 2022 06:44:27 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%27fe2496e6-e11a-422b-8b09-c7b7f2db237e%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"fe2496e6-e11a-422b-8b09-c7b7f2db237e","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a@b.com","isActive":true,"created":"2022-02-08T06:44:27.72","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:27.72","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:28 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%2718b13015-72fd-4fde-93ba-4adfee685ad4%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"18b13015-72fd-4fde-93ba-4adfee685ad4","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a2@b.com","isActive":true,"created":"2022-02-08T06:44:27.72","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:27.72","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:29 GMT
recorded_with: VCR 6.0.0
