---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?pageNumber=0&pageSize=2
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - Viveks-MacBook-Pro.local
      Api-Key:
      - LSPK-6FVN6rP/icR+Fg7w3Sxi5Ca5wcZfOPNuGmSPEv88funuJoD9J1XgpPMYJo3s/Cs2LLhDGEXUVnhYFHcvBxJj6w==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '214'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"c10234b0-b809-43d1-bf18-1cb8ebffaa97","companyId":"5affc106-aaf2-4bd8-b613-361b8e868c01","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"jsandoval@lockstep.io","isActive":true,"created":"2022-01-18T19:32:17.18","createdUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modified":"2022-01-18T19:32:17.18","modifiedUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb"},{"contactId":"c37c0301-1441-4a69-a501-58a059bbb9f3","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a@b.com","isActive":true,"created":"2022-02-03T12:49:11.85","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-03T12:49:11.85","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":2182,"pageSize":2,"pageNumber":0}'
  recorded_at: Thu, 31 Mar 2022 09:03:13 GMT
[...]
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?pageNumber=2&pageSize=1
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - Viveks-MacBook-Pro.local
      Api-Key:
      - LSPK-6FVN6rP/icR+Fg7w3Sxi5Ca5wcZfOPNuGmSPEv88funuJoD9J1XgpPMYJo3s/Cs2LLhDGEXUVnhYFHcvBxJj6w==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"a69203b5-17c9-4d00-b0bb-ebd7c5e2037b","companyId":"5e2b9979-39ce-42a3-9538-c6d8d3803fc6","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"test9001@123.com","isActive":true,"created":"2022-03-24T21:51:06.43","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-03-24T21:51:06.43","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":2182,"pageSize":1,"pageNumber":2}'
  recorded_at: Thu, 31 Mar 2022 09:03:16 GMT
recorded_with: VCR 6.0.0
