---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"a"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Serverduration:
      - '1'
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-12fe8f5ba5ee91301888ba9f3693d0d3-9b30f93699a5bdec-00","errors":{"[0].EmailAddress":["The
        EmailAddress field is not a valid e-mail address."]}}'
  recorded_at: Tue, 08 Feb 2022 06:44:25 GMT
recorded_with: VCR 6.0.0
