---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"a@b.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '[{"contactId":"2544bd1c-7dac-4934-8b46-104b90644e62","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a@b.com","isActive":true,"created":"2022-02-08T06:44:25.4862611Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:25.4862611Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}]'
  recorded_at: Tue, 08 Feb 2022 06:44:25 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%272544bd1c-7dac-4934-8b46-104b90644e62%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"2544bd1c-7dac-4934-8b46-104b90644e62","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"a@b.com","isActive":true,"created":"2022-02-08T06:44:25.49","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:25.49","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:26 GMT
recorded_with: VCR 6.0.0
