---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Contacts/
    body:
      encoding: UTF-8
      string: '[{"emailAddress":"test@test.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '[{"contactId":"318c2276-0567-459b-b7cf-355de3d60284","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"test@test.com","isActive":true,"created":"2022-02-08T06:44:32.9709568Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:32.9709568Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}]'
  recorded_at: Tue, 08 Feb 2022 06:44:33 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%27318c2276-0567-459b-b7cf-355de3d60284%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"318c2276-0567-459b-b7cf-355de3d60284","companyId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"test@test.com","isActive":true,"created":"2022-02-08T06:44:32.97","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:32.97","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:33 GMT
- request:
    method: delete
    uri: https://api.dev.lockstep.io/api/v1/Contacts/318c2276-0567-459b-b7cf-355de3d60284
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"messages":["Disabled contact 318c2276-0567-459b-b7cf-355de3d60284"]}'
  recorded_at: Tue, 08 Feb 2022 06:44:33 GMT
recorded_with: VCR 6.0.0
