---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%276e634a6a-0f5a-490a-818e-b16d4c1ba3e8%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '199'
    body:
      encoding: UTF-8
      string: '{"records":[{"contactId":"6e634a6a-0f5a-490a-818e-b16d4c1ba3e8","companyId":"7997eac2-adb2-4c02-89e7-689728313ce2","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","erpKey":"45C89E6B-FD58-491D-8251-A7DD90CF3238","contactName":"Ahmad","contactCode":"Almighty
        Almonds 3","title":"TestTitle","roleCode":"TestCode","emailAddress":"DemoTestEmail@lockstep.io","phone":"1-800-444-3333","fax":"1-800-444-4444","address1":"113
        Cherry Street","address2":"","address3":"","city":"Seattle","stateRegion":"WA","postalCode":"98104-2205","countryCode":"US","isActive":true,"webpageUrl":"https://lockstep.io/","pictureUrl":"https://lockstep.io/wp-content/uploads/2020/12/Lockstep-Registered-Trademark-Website-Logo.png","created":"2022-08-25T06:40:16.4","createdUserId":"95845776-6e85-45a9-9612-39d6ee14813b","modified":"2022-08-25T06:40:16.4","modifiedUserId":"95845776-6e85-45a9-9612-39d6ee14813b","appEnrollmentId":"803cb91a-38f7-46ab-8f0d-7dfdb4b28f91"}],"totalCount":1,"pageSize":250}'
  recorded_at: Mon, 12 Dec 2022 13:04:55 GMT
recorded_with: VCR 6.1.0
