---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%27249013e5-3aef-40f7-a99e-009dd64aadea%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[],"totalCount":0,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:24 GMT
recorded_with: VCR 6.0.0
