---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%27249013e5-3aef-40f7-a99e-009dd64aadef%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"249013e5-3aef-40f7-a99e-009dd64aadef","companyId":"8c61f615-2424-4bbe-90c8-8e1336b8449f","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"x@b.com","isActive":true,"created":"2022-01-13T00:27:33.55","createdUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modified":"2022-02-08T05:53:06.22","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:29 GMT
- request:
    method: patch
    uri: https://api.dev.lockstep.io/api/v1/Contacts/249013e5-3aef-40f7-a99e-009dd64aadef
    body:
      encoding: UTF-8
      string: '{"emailAddress":"x@a.com"}'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"contactId":"249013e5-3aef-40f7-a99e-009dd64aadef","companyId":"8c61f615-2424-4bbe-90c8-8e1336b8449f","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"x@a.com","isActive":true,"created":"2022-01-13T00:27:33.55","createdUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modified":"2022-02-08T06:44:30.3909465Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}'
  recorded_at: Tue, 08 Feb 2022 06:44:30 GMT
[...]
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=contactId%20eq%20%27249013e5-3aef-40f7-a99e-009dd64aadef%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"249013e5-3aef-40f7-a99e-009dd64aadef","companyId":"8c61f615-2424-4bbe-90c8-8e1336b8449f","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","emailAddress":"x@b.com","isActive":true,"created":"2022-01-13T00:27:33.55","createdUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modified":"2022-02-08T06:44:31.41","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:32 GMT
recorded_with: VCR 6.0.0
