---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=companyId%20eq%20%2717544da8-7be8-4ee2-8c62-cbd81428c68b%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '219'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"contactId":"af674f20-ce79-4a4d-988b-92aea2e25f7a","companyId":"17544da8-7be8-4ee2-8c62-cbd81428c68b","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","contactName":"","roleCode":"Other","emailAddress":"accounts@1password.com","isActive":false,"created":"2022-01-13T00:28:20.01","createdUserId":"257b71c8-3aa4-4715-8c5a-4e8d71f96bcb","modified":"2022-01-28T09:13:53.63","modifiedUserId":"d4ae7dde-4a59-4440-950d-b8c340f30488"},{"contactId":"879a6934-3c75-45df-bdb1-4afbda413ec6","companyId":"17544da8-7be8-4ee2-8c62-cbd81428c68b","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","contactName":"1Password
        Business Support","emailAddress":"businesssupport@1password.com","isActive":true,"created":"2022-02-07T18:43:44.14","createdUserId":"101e9a6f-b5e5-4a63-8dd0-cb3ffe83b2ff","modified":"2022-03-04T12:03:04.77","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"},{"contactI[...]
