---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts//invite
    body:
      encoding: UTF-8
      string: '[{"email":"su5mitsourav@gmail.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Ls-Internalservice:
      - "<LS-INTERNALSERVICE>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '248'
    body:
      encoding: ASCII-8BIT
      string: '[{"email":"su5mitsourav@gmail.com","success":false,"errorMessage":"This
        email su5mitsourav@gmail.com is already registered"}]'
  recorded_at: Fri, 14 Apr 2023 07:28:54 GMT
recorded_with: VCR 6.1.0
