---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts//invite
    body:
      encoding: UTF-8
      string: '[{"email":"abc@gmail.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Ls-Internalservice:
      - "<LS-INTERNALSERVICE>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '294'
    body:
      encoding: ASCII-8BIT
      string: '[{"email":"abc@gmail.com","success":true,"invitedUser":{"userId":"29955a14-41e8-4002-90f2-8c04d7c03550","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","userName":"abc","email":"abc@gmail.com","status":"Invited","created":"2023-04-14T07:28:53.2564774Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2023-04-14T07:28:53.2564775Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","userRole":"00000000-0000-0000-0000-000000000003","inviteSent":"2023-04-14T07:28:53.2564774Z"}}]'
  recorded_at: Fri, 14 Apr 2023 07:28:53 GMT
recorded_with: VCR 6.1.0
