---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts//invite
    body:
      encoding: UTF-8
      string: '[{"email":"abcd@gmail.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '1624'
    body:
      encoding: ASCII-8BIT
      string: '[{"email":"abcd@gmail.com","success":true,"invitedUser":{"userId":"fa92d490-9fc5-4608-b743-c3f6f7d0526c","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","userName":"abcd","email":"abcd@gmail.com","status":"Invited","created":"2023-04-19T22:18:59.2356388Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2023-04-19T22:18:59.2356388Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","userRole":"00000000-0000-0000-0000-000000000003","inviteSent":"2023-04-19T22:18:59.2356387Z"}}]'
  recorded_at: Wed, 19 Apr 2023 22:18:59 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts/query?filter=userId%20eq%20%27fa92d490-9fc5-4608-b743-c3f6f7d0526c%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '827'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"userId":"fa92d490-9fc5-4608-b743-c3f6f7d0526c","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","userName":"abcd","email":"abcd@gmail.com","status":"Invited","created":"2023-04-19T22:18:59.42","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2023-04-19T22:18:59.42","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modifiedUserName":"Vivek
        AG","userRole":"00000000-0000-0000-0000-000000000003","inviteSent":"2023-04-19T22:18:59.24"}],"totalCount":1,"pageSize":250}'
  recorded_at: Wed, 19 Apr 2023 22:19:01 GMT
recorded_with: VCR 6.1.0
