---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts//invite
    body:
      encoding: UTF-8
      string: '[{"email":"su5mitsourav@gmail.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Www-Authenticate:
      - Bearer
      Server-Duration:
      - '0'
    body:
      encoding: UTF-8
      string: '{"type":"https://httpstatuses.io/401","title":"Unauthorized","status":401,"traceId":"00-ce93036f8b3b685ca1ae8d4b1ce5c76b-2086ab2373d5c430-00"}'
  recorded_at: Fri, 14 Apr 2023 07:39:13 GMT
recorded_with: VCR 6.1.0
