---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts//invite
    body:
      encoding: UTF-8
      string: '[{"email":"su5mitsourav@gmail.com"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Www-Authenticate:
      - Bearer
      Server-Duration:
      - '0'
    body:
      encoding: UTF-8
      string: '{"type":"https://httpstatuses.io/401","title":"Unauthorized","status":401,"traceId":"00-302c9434758d74cc811cbec673bba747-72a850c9bad73699-00"}'
  recorded_at: Wed, 19 Apr 2023 22:20:12 GMT
recorded_with: VCR 6.1.0
