---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/Companies/
    body:
      encoding: UTF-8
      string: '[{"companyName":"Test Company"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '[{"companyId":"3cc87b01-11ff-4ca3-b97f-50a0b233eae5","companyName":"Test
        Company","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","isActive":true,"created":"2022-02-08T06:44:17.3883141Z","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:17.3883141Z","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modifiedUserName":"Vivek
        AG"}]'
  recorded_at: Tue, 08 Feb 2022 06:44:17 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Companies/query?filter=((companyType%20in%20(%27Customer%27,%27Vendor%27))%20OR%20(companyType%20IS%20NULL))%20AND%20(companyId%20eq%20%273cc87b01-11ff-4ca3-b97f-50a0b233eae5%27)
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"companyId":"3cc87b01-11ff-4ca3-b97f-50a0b233eae5","companyName":"Test
        Company","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","isActive":true,"created":"2022-02-08T06:44:17.39","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-02-08T06:44:17.39","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modifiedUserName":"Vivek
        AG"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:17 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Contacts/query?filter=companyId%20eq%20%273cc87b01-11ff-4ca3-b97f-50a0b233eae5%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[],"totalCount":0,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:18 GMT
recorded_with: VCR 6.0.0
