---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Companies/query?filter=(companyType%20in%20(%27Customer%27,%27Vendor%27,%27Group%27,%27Company%27))%20OR%20(companyType%20IS%20NULL)&include=contacts&pageSize=10
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '256'
    body:
      encoding: UTF-8
      string: '{"records":[{"companyId":"c8c86ac3-3786-4700-b269-3f0bf67aa26e","companyName":"\"S","companyType":"Vendor","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","isActive":false,"created":"2022-07-29T12:47:56.02","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-07-31T12:43:25.91","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modifiedUserName":"Vivek
        AG","domainName":"\"S","website":"\"S","viewBoxSettings":{},"contacts":[{"contactId":"406ae9a2-9155-44df-89de-7374e1bb1e1e","companyId":"c8c86ac3-3786-4700-b269-3f0bf67aa26e","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","contactName":"test_bug","title":"","emailAddress":"test_bug@new_domain.com","isActive":true,"created":"2022-10-04T13:00:12.6","createdUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b","modified":"2022-10-04T13:00:12.6","modifiedUserId":"e6f52a30-4433-46e8-ae46-660ea732e73b"},{"contactId":"65c74b39-4f40-4231-af26-cb91fce36fa0","companyId":"c8c86ac3-3786-4700-b269-3f0bf67aa26e","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","contactName":"NP
        TEST","roleCode":"CFO","emailAddress":"test.contact.gs@s23.com","phone":"987987987987","isActive":true,"created":"2022-08-12T05:05:49.09","createdUserId":"95845776-6e85-45a9-9612-39d6ee14813b","modified":"2022-08-12T05:14:27.47","modifiedUserId":"95845776-6e85-45a9-9612-39d6ee14813b"}]},{"companyId":"b107e7cc-9117-4470-9fbe-00eafaf3801c","companyName":"007.com","companyType":"Customer","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","isActive":true,"created":"2022-10-10T02:03:15.08","createdUserId":"b393dbdb-39[...]
