---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Companies/query?filter=((companyType%20in%20(%27Customer%27,%27Vendor%27,%27Group%27,%27Company%27))%20OR%20(companyType%20IS%20NULL))%20AND%20(isActive%20eq%20true)
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '856'
    body:
      encoding: UTF-8
      string: '{"records":[{"companyId":"b107e7cc-9117-4470-9fbe-00eafaf3801c","companyName":"007.com","companyType":"Customer","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","isActive":true,"created":"2022-10-10T02:03:15.08","createdUserId":"b393dbdb-3906-4906-aa38-e7b01ba2a06e","modified":"2022-10-10T02:03:15.63","modifiedUserId":"b393dbdb-3906-4906-aa38-e7b01ba2a06e","modifiedUserName":"Nitin
        Kumar Goyal","domainName":"007.com","website":"007.com","isVerified":false,"viewBoxSettings":{}},{"companyId":"95d7289b-f2a4-4356-863e-01f9a9fc2e64","companyName":"007.com","companyType":"Customer","enterpriseId":"00000000-0000-0000-0000-000000000000","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","isActive":true,"created":"2023-02-21T12:44:51.13","createdUserId":"735c15ef-4cd8-47b3-b4bd-b1616e7972b7","modified":"2023-02-21T12:44:51.13","modifiedUserId":"735c15ef-4cd8-47b3-b4bd-b1616e7972b7","modifiedUserName":"Tejas
        Shetty NEW NAME","domainName":"007.com","website":"007.com"[...]
