---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api//v1/workflow-statuses/query
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '138'
    body:
      encoding: UTF-8
      string: '{"totalCount":3,"pageSize":250,"records":[{"id":"e2614ef3-10a8-4f05-8169-f9557cf22fca","name":"test","isNotesRequired":false,"promoteToErp":false,"created":"2023-10-06T06:08:35.02","createdUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d","modified":"2023-10-06T06:08:35.02","modifiedUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d"},{"id":"dbf608e8-a54f-42a5-8b0d-9b74ffbd4ba1","name":"test","parentWorkflowStatusId":"e2614ef3-10a8-4f05-8169-f9557cf22fca","isNotesRequired":false,"promoteToErp":false,"created":"2023-10-06T06:09:31.72","createdUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d","modified":"2023-10-06T06:09:31.72","modifiedUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d"},{"id":"0f6070b1-7c6e-4570-a8ae-aa1bcd4fa811","name":"TestCase
        Step 1","isNotesRequired":false,"promoteToErp":false,"created":"2023-10-06T06:25:53.75","createdUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d","modified":"2023-10-06T06:25:53.75","modifiedUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d"}]}'
  recorded_at: Fri, 06 Oct 2023 06:26:58 GMT
recorded_with: VCR 6.1.0
