---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api//v1/workflow-statuses/
    body:
      encoding: UTF-8
      string: '[{"name":"TestCase Step 1"}]'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '145'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"0f6070b1-7c6e-4570-a8ae-aa1bcd4fa811","name":"TestCase Step
        1","isNotesRequired":false,"promoteToErp":false,"created":"2023-10-06T06:25:53.7473689Z","createdUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d","modified":"2023-10-06T06:25:53.7473689Z","modifiedUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d"}]'
  recorded_at: Fri, 06 Oct 2023 06:25:53 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api//v1/workflow-statuses/query?filter=id%20eq%20%270f6070b1-7c6e-4570-a8ae-aa1bcd4fa811%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '134'
    body:
      encoding: UTF-8
      string: '{"totalCount":1,"pageSize":250,"records":[{"id":"0f6070b1-7c6e-4570-a8ae-aa1bcd4fa811","name":"TestCase
        Step 1","isNotesRequired":false,"promoteToErp":false,"created":"2023-10-06T06:25:53.75","createdUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d","modified":"2023-10-06T06:25:53.75","modifiedUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d"}]}'
  recorded_at: Fri, 06 Oct 2023 06:25:55 GMT
recorded_with: VCR 6.1.0
