---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api//v1/workflow-statuses/query?filter=id%20eq%20%27some-id%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '147'
    body:
      encoding: UTF-8
      string: '{"totalCount":1,"pageSize":250,"records":[{"id":"some-id","name":"test","isNotesRequired":false,"promoteToErp":false,"created":"2023-10-06T06:08:35.02","createdUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d","modified":"2023-10-06T06:08:35.02","modifiedUserId":"42ee93c0-f8d2-43ab-8744-3953f1e0829d"}]}'
  recorded_at: Fri, 06 Oct 2023 06:42:16 GMT
- request:
    method: get
    uri: https://api.dev.lockstep.io/api//v1/workflow-statuses/query?filter=id%20IS%20NULL
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '6'
    body:
      encoding: UTF-8
      string: '{"totalCount":0,"pageSize":250,"records":[]}'
  recorded_at: Fri, 06 Oct 2023 06:42:18 GMT
recorded_with: VCR 6.1.0
