---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Reports/daily-payable-outstanding-summary/?reportDate=03/31/23
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Server-Duration:
      - '1138'
    body:
      encoding: UTF-8
      string: '{"records":[{"groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","vendorId":"09c45f25-70e9-402e-9f1a-815cbedc0691","vendorName":"Computers
        by Jenni","primaryContact":"Jenni Winslow","bills":1,"baseCurrencyCode":"USD","amountOutstanding":10025.0000000000000000000000,"dpo":0.0000000000000000000000},{"groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","vendorId":"2b4bd5ea-62bb-4b08-98ff-f1ed57b3f652","vendorName":"Norton
        Lumber and Building Materials","primaryContact":"Julie Norton","bills":1,"baseCurrencyCode":"USD","amountOutstanding":205.0000000000000000000000,"dpo":0.0000000000000000000000},{"groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","vendorId":"73b6f958-3b6e-4481-9722-7c524d40a8ca","vendorName":"Diego''s
        Road Warrior Bodyshop","primaryCont[...]
