---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/useraccounts/magic-links/
    body:
      encoding: UTF-8
      string: '{"email":"vivek.a@lockstep.io","expiresInMinutes":720,"applicationId":"00000000-0000-0000-0003-000000000001","userRole":"00000000-0000-0000-0000-000000000003"}'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Serverduration:
      - '117'
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"00-52e5da9b88821518271cb7ad3742b61c-09bd841d0fdaaad7-00"}'
  recorded_at: Tue, 18 Oct 2022 10:52:00 GMT
recorded_with: VCR 6.1.0
