---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/useraccounts/magic-links/
    body:
      encoding: UTF-8
      string: '{"email":"vivek.a@lockstep.io","expiresInMinutes":720,"applicationId":"00000000-0000-0000-0003-000000000001","userRole":"00000000-0000-0000-0000-000000000003"}'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer
      Serverduration:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 18 Oct 2022 09:45:57 GMT
recorded_with: VCR 6.1.0
