---
http_interactions:
- request:
    method: post
    uri: https://api.dev.lockstep.io/api/v1/useraccounts/magic-links/
    body:
      encoding: UTF-8
      string: '{"email":"user@email.com","expiresInMinutes":43200,"applicationId":"00000000-0000-0000-0003-000000000001","userRole":"00000000-0000-0000-0000-000000000003","companyId":"e7683208-89c3-4499-94fc-28ee0de06b02"}'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Www-Authenticate:
      - Bearer
      Server-Duration:
      - '0'
    body:
      encoding: UTF-8
      string: '{"type":"https://httpstatuses.io/401","title":"Unauthorized","status":401,"traceId":"00-90dca5e537e3a808e7298b6f27730c65-096f6c519823923d-00"}'
  recorded_at: Tue, 06 Dec 2022 06:37:02 GMT
recorded_with: VCR 6.1.0
