---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Status/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: '{"loggedIn":false,"errorMessage":"The token expired at ''08/22/2022
        15:46:00''","dependencies":{"Cloud Storage":"Healthy","Email":"Healthy","Lockstep
        Database":"Healthy","Secrets":"Healthy","Cache":"Healthy"}}'
  recorded_at: Wed, 30 Nov 2022 11:18:46 GMT
recorded_with: VCR 6.1.0
