---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Status/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '0'
    body:
      encoding: UTF-8
      string: '{"loggedIn":false,"errorMessage":"No bearer token found in header ''Authorization''
        and no API key found in header ''Api-Key''","dependencies":{"Cloud Storage":"Healthy","Email":"Healthy","Lockstep
        Database":"Healthy","Secrets":"Healthy","Cache":"Healthy"}}'
  recorded_at: Wed, 30 Nov 2022 11:08:55 GMT
recorded_with: VCR 6.1.0
