---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/Status/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '892'
    body:
      encoding: UTF-8
      string: '{"userName":"Tejas Shetty","emailAddress":"burneracc.0612@gmail.com","accountName":"APAC
        Dev Company","accountCompanyId":"66dfb6da-6618-4a7f-8b97-20e924db86fa","userId":"873d5a87-3c4b-4a85-9238-2018ec176347","groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","loggedIn":true,"roles":["Read-Only"],"apiKeyId":"bc51f30e-d290-4c1e-b8f7-dd8c595f6941","userStatus":"Active","environment":"dev","version":"2022.48.13.0","onboardingScheduled":false,"dependencies":{"Cloud
        Storage":"Healthy","Email":"Healthy","Lockstep Database":"Healthy","Secrets":"Healthy","Cache":"Healthy"},"userGroups":[{"groupKey":"0f38b5ae-59d9-4a16-860b-067eff8d1e9f","userRole":"Member","groupName":"Testing
        Around","status":"Active"},{"groupKey":"a4429a01-e38e-448d-9fda-754f8f230b4e","userRole":"Read-Only","groupName":"APAC
        Dev Company","status":"Active"},{"groupKey":"8bfd51da-b36a-4ca3-95ba-755c59a8faa8","userRole":"Group
        Owner","groupName":"Testing Around","status":"Active"}]}'
  recorded_at: Wed, 30 Nov 2022 11:45:49 GMT
recorded_with: VCR 6.1.0
