---
http_interactions:
- request:
    method: get
    uri: https://api.dev.lockstep.io/api/v1/UserAccounts/query?filter=userId%20eq%20%2719a23e59-8dce-47e5-a114-02cfe8872e53%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/*+json
      Sdktype:
      - Ruby
      Sdkversion:
      - 2022.4.32.0
      Machinename:
      - "<MACHINE_NAME>"
      Authorization:
      - Bearer "<BEARER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
      Serverduration:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"userId":"19a23e59-8dce-47e5-a114-02cfe8872e53","groupKey":"84b1ebfe-bdf4-4590-92ee-c41f140f9c63","email":"test2@ex.com","status":"Invited","created":"2021-11-30T00:19:49.64","createdUserId":"94dfceb2-380b-4a88-bcf5-fc0f0c43ed92","modified":"2021-12-02T21:58:50.32","modifiedUserId":"94dfceb2-380b-4a88-bcf5-fc0f0c43ed92","modifiedUserName":"Loc
        Chuong","userRole":"00000000-0000-0000-0000-000000000004","inviteSent":"2021-11-30T00:19:49.64"}],"totalCount":1,"pageSize":10000}'
  recorded_at: Tue, 08 Feb 2022 06:44:16 GMT
recorded_with: VCR 6.0.0
